body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.logo {
    width: 80px;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.navbar,
main {
    padding: 10px 200px;
}
.navbar ul {
    display: flex;
    gap: 10px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    color: #E5E7EB;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #1F2937;
    color: #E5E7EB;;
}

main img {
    width: 500px;
}